.search-bar {
    margin: 0 auto;
    width: 520px;
}

.search-bar form input {
    border: none;
    font-size: 30px;
    width: 500px;
    height: 50px;
    border-radius: 25px;
    opacity: 0.5; 
    border: 2px solid #0057A4;
    outline: none;
    padding-left: 30px;
}