.header {
    background: #11192E;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}
  
.food-items  {
    display: flex;
    list-style: none;
}
  
.food-items li {
    margin-left: 50px;
    margin-right: 50px;
    width: 180px;
}
  
.food-items-item {
    border: 2px solid #F0F0F0;
    border-radius: 30px 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F0F0F0;
    font-size: 23px;
}

.food-items-item:hover {
    background: #A52A2A;
}

.food-items-item a {
    display: block;
    float:right;
    text-decoration: none;
    color: #F0F0F0;
    padding: 10px;
    padding-right: 35px;
}

.food-items-item img {
    margin-left: 10px;
    padding-top: 6px;
}

.cart {
    background: #DE101D;
    margin: 15px;
    padding: 15px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    color: #F0F0F0;
    font-size:16px;
    font-weight: bold;
    border-radius: 30px 30px;
}

.cart-items {
    border-right: 1px solid #F0F0F0;
    padding-right: 10px;
    padding-top: 5px;
}

.cart-price {
    padding-right: 10px;
    padding-top: 5px;
}