body {
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;

}

button:active {
    outline: none;   
}

a:focus {
    outline: none;   
}

main {
    min-height: 500px;
}




